/* start global rules */
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}
:root {
  --main: #7d3c49;
}
/* end global rules */

/* start landing */
.landing {
  height: 70vh;
  background-image: url(../images/events-heavenly-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.layer {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(149, 1, 1, 0.5);
  position: relative;
}

nav {
  font-size: 20px;
  background-color: rgba(204, 204, 204, 0.1);
  transition: 0.5s;
  -webkit-transition: 0.5s background-color;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

nav a {
  color: #fff !important;
  transition: 0.5s color;
  -webkit-transition: 0.5s color;
  -moz-transition: 0.5s color;
  -ms-transition: 0.5s color;
  -o-transition: 0.5s color;
}

nav a:hover {
  color: rgb(218, 95, 95) !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
  font-size: 25px;
  color: rgb(238, 238, 238);
}

h1 {
  font-size: 50px;
}
/* end landing */

/* start details section */
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 70px;
}

.details h3 {
  background-color: #e68285;
  padding: 5px;
  margin: 0;
  cursor: pointer;
}

.details p {
  display: none;
  color: #000;
  background-color: #cccccc;
  padding: 7px;
  margin: 0;
}
/* end details section */

/* start countdown */
.countdown {
  background-image: url(../images/invitation-2508607__340.jpg);
  background-size: cover;
  background-color: rgba(151, 1, 1, 0.63);
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 50px;
  background-color: rgba(151, 1, 1, 0.63);
}

.countdown .col {
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 70px 30px 70px;
  margin: 10px 0 0 0;
  color: #fff;
  transition: background-color 0.3s;
  width: 300px;
}

.countdown .col:hover {
  background-color: rgba(151, 1, 1, 0.616);
}
/* end countdown */

/* start contact */
.contact-links i {
  margin-right: 10px;
  border: 1px solid #999;
  width: 40px;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
  color: #777;
  transition: background-color 0.3s, color 0.3s;
}

.contact-links i:hover {
  background-color: #d62e33;
  color: #fff;
}

/* Start loader */
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* End loader */
#logo {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 10%;
  vertical-align: middle;
  overflow: hidden;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: transparent;
}

/* The progress container */
.progress-container {
  width: 100%;
  height: 4px;
  background: transparent;
}

/* The progress bar */
.progress-bar {
  height: 4px;
  background: #be2a2f;
  width: 0%;
  z-index: 1000;
}

/* Start scroll to top button */
#btnUp {
  position: fixed;
  bottom: 48px;
  right: 30px;
  z-index: 10;
  background-color: transparent;
  font-size: 30px;
}

#btnUp:focus {
  box-shadow: none !important;
}

#btnUp:hover {
  color: rgb(218, 95, 95);
}
/* End scroll to top button */

.my-profile{
  transition: color .5s;
  color: #fff;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -ms-transition: color .5s;
  -o-transition: color .5s;
}

.my-profile:hover{
  color: red;
}